# Eclipse metadata
/.settings/
/.classpath
/.project

# Maven output
/target/

# VSCode
.vscode/settings.json

mcs-server/node_modules

uon-web-interface/node_modules

uon-web-interface/.angular

uon-yamcs-instance/__pycache__

uon-yamcs-instance/target