.globeContainer {
    width: '100vw';
    height: '100vh';
    max-width: '100%';
    max-height: '100%';
    pointer-events: 'none';
    flex: 1; /* Allows the globe container to fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  

.pageContainer {
    display: flex;
    flex-direction: column; /* Stack header and content vertically */
    height: 100vh;
}

.content {
    display: flex; /* Sidebar and globeContainer side by side */
    flex: 1; /* Take up remaining space */
}