/* Sidebar.css */
.sidebar {
  background-color: #42bdf9;
  color: #ffffff;
  padding: 20px;
  height: calc(100vh - 114px); /* Adjusted height to account for the header */
  display: inline-block;
  overflow-y: auto; /* Makes the sidebar scrollable */
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px; /* Space between items */
}

.sidebar ul li a {
  color: #ddd;
  text-decoration: none;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  font-size: 18px;
}

.active {
  font-weight: bold;
  background-color: #666; /* Highlight color */
  padding: 5px;
  border-radius: 5px;
  margin: -5px; /* Offset the added padding to prevent indentation */
  width: calc(100% + 10px); /* Compensate for the negative margins to maintain alignment */
}

.sidebar ul li a .icon {
  margin-right: 10px; /* Space between icon and text */
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}
