<mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" /><mat-icon
      matPrefix
    >
      search</mat-icon
    >
  </mat-form-field>
  
  <table
    *ngIf="tableDataSource"
    mat-table
    [dataSource]="tableDataSource"
  >
    <ng-container matColumnDef="Parameter Names">
      <mat-header-cell *matHeaderCellDef>Parameter Name</mat-header-cell>
      <mat-cell
        class="name_column"
        *matCellDef="let parameter"
        (click)="addGraph(parameter.qualifiedName)"
        >{{ parameter.qualifiedName }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="Parameter Types">
      <mat-header-cell *matHeaderCellDef>Parameter Type</mat-header-cell>
      <mat-cell class="name_column" *matCellDef="let parameter">{{
        parameter.type.engType
      }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
    <mat-row *matRowDef="let rowData; columns: displayedCol"></mat-row>
  </table>
