<table mat-table [dataSource]="buckets" *ngIf="this.showBucket == true">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let bucket" (click)="showBucketItem(bucket.name)">{{
      bucket.name
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="numObjects">
    <mat-header-cell *matHeaderCellDef>Objects</mat-header-cell>
    <mat-cell *matCellDef="let bucket">{{ bucket.numObjects }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="maxObjects">
    <mat-header-cell *matHeaderCellDef>Max objects</mat-header-cell>
    <mat-cell *matCellDef="let bucket">{{ bucket.maxObjects }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
    <mat-cell *matCellDef="let bucket">{{ formatBytes(bucket.size) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
    <mat-cell *matCellDef="let bucket">{{
      bucket.created | date : "dd/MM/YYYY HH:mm"
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="freeSpace">
    <mat-header-cell *matHeaderCellDef>Available space</mat-header-cell>
    <mat-cell *matCellDef="let bucket">
      {{ formatBytes(bucket.maxSize - bucket.size) }}
      <mat-progress-bar
        color="warn"
        mode="determinate"
        [value]="100 - ((bucket.maxSize - bucket.size) * 100) / bucket.maxSize"
      ></mat-progress-bar>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let bucket">
      <button mat-button (click)="deleteBucket(bucket.name)">
        <mat-icon style="color: red"> delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: displayedCol"></mat-row>
</table>
<button
  mat-button
  id="create"
  (click)="createBucket()"
  *ngIf="this.showBucket == true"
>
  Create new Bucket
</button>

<app-bucket-item *ngIf="this.showBucket == false"></app-bucket-item>
